.header {
  background-image: linear-gradient(#d1a941, #ef9919);
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: Black;
  max-height: 80px;
}

.petr_logo {
  position: relative;
  padding-left: 0px;
  height: auto;
  max-width: 110px;
}

.petr_text {
  position: relative;
  top: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 35px;
  color: #000000;
  border: #000000;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
