.DisplayImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.DisplayImage h2 {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 10px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #ffcb42;
  margin: 20px, 10px, auto;
}

.DisplayImage p {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin: 0px 0px;

  color: #ffffff;
}

.ImageContainer {
  position: relative;
  margin-top: 10px;

  background: rgba(0, 0, 0, 0.7);
  width: 931px;
  height: 440px;
}

.BackgroundImage {
  background-image: url("../../images/empty_image.png");
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.Label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -15%);
  color: black;

  border-style: solid;
  padding: 10px 20px;
  border-radius: 57px;
  background: #fdfdfd;

  cursor: pointer;
}

#Download {
  border-style: solid;
  padding: 10px 20px;
  border-radius: 57px;
  background: #fdfdfd;
  transform: translate(5%, 0%);
  margin: 30px 0px;
  cursor: not-allowed;
}
